<nav class="bg-saffron">
  <div class="logo-block">
    <div class="logo" (click)="goHome()">
      <!-- <img src="/assets/logos/saffron_mata_white.svg" alt="Saffron"> -->
    </div>

    <div class="back-link" [ngClass]="{'invisible': !showBackButton}">
      <!-- <span (click)="goBack()"><strong>Back to </strong> <b [title]="backNavOptions.caption">{{backNavOptions.caption}}</b></span> -->
      <span (click)="goBack()"><strong>Back</strong></span>
    </div>
  </div>

  <app-profile-menu *ngIf="isLoggedIn" class="pull-right"></app-profile-menu>
</nav>
