<div class="container-fluid bg-gradient">
  <div *ngIf="!callback" class="container-main bg-image">
    <div class="container-border">
      <!-- <app-navbar [isLoggedIn]="false" class="mobile-hidden"></app-navbar> -->
      <div class="login-box container">
        <!-- <div class="close-btn hidden-sm-up" [routerLink]="['/']"></div> -->
        <div class="close-btn hidden-sm-up" [routerLink]="['/']"></div>
        <div class="col-12 column">
          <div class="container-title">Reset Password</div>
          <div>
            <form novalidate [formGroup]="resetForm" (ngSubmit)="resetPassword()" #lForm="ngForm">
              <div class="form-group form-inputs row">              
              
                    <div class="col-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="New Password" type="password" formControlName="password" required>
                            <!-- <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword" 
                            required validateEqual="confirmPassword" reverse="true" #newPassword>
                            <small [hidden]="newPassword.valid" class="text-danger">
                              Password is required
                            </small> -->
                          </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="Confirm Password" type="password" formControlName="confirmPassword" required>
                            <!-- <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" 
                            required validateEqual="newPassword" reverse="false" #confirmPassword>
                          <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !lForm.submitted)" class="text-danger">
                            Password mismatch
                          </small> -->
                          </div>
                    </div>

                <div class="col-12">
                    <div class="btn-border pull-right">
                        <button type="submit" class="enter-btn pull-right">Confirm</button>
                      </div>
                    </div>
                  
                </div>
              <app-validation-message [messages]="messages" [msgArray]="msgArray" [fields]="fields"></app-validation-message>
            </form>
          </div>
        </div>
    </div> 
    <div class="container-other-buttons row">
        <div class="link text-left col-4 mobile-hidden" [routerLink]="['/']"><i class="fa fa-arrow-left"></i> Back</div>
      </div> 
  </div>
</div>
