<div class="acc_content">
  <div class="p_wrap">
      <div class="p_question">Current Address Line - 1</div>
      <div class="p_answer">Plot no B/49 Room no 23 Mangaldep Society</div>
    </div>
    
    <div class="p_wrap">
      <div class="p_question">Current Address Line - 2 </div>
      <div class="p_answer">Sector 12 Kharghar </div>
    </div>


  <div class="p_wrap">
      <div class="p_question">City</div>
      <div class="p_answer">Navi mumbai</div>
    </div>
    
    <div class="p_wrap">
      <div class="p_question">State </div>
      <div class="p_answer">Maharashtra </div>
    </div>


  <div class="p_wrap">
      <div class="p_question">Country</div>
      <div class="p_answer">India</div>
    </div>
    
    <div class="p_wrap">
      <div class="p_question">Pin Code</div>
      <div class="p_answer">410210</div>
    </div>


  <div class="p_wrap">
      <div class="p_question">Contact Details</div>
      <div class="p_answer">+91 902220007</div>
    </div>
    
    <div class="p_wrap">
      <div class="p_question">Alternate Contact Details</div>
      <div class="p_answer">+91 9022220007</div>
    </div></div>