.profile-subheader {
  text-align: center;
  margin-top: 115px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(1,14,255, .5);
  width: 770px;
  color: #4342E6;

  .user-avatar {
    display: block;
    height: 124px;
    width: 124px;
    border-radius: 50%;
    border: 4px solid #BBB5DC;
    background:  #F2EADF url(/assets/img/founder/user.png) no-repeat center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto 12px;
    position: relative;
    text-decoration: none;

    &.white {
      border-color: #F9F5F0;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
      min-height: 100%;
        width: 100%;
    }

    .verified{
      color: #ffffff;
      font-weight: bold;
      position: absolute;
      top: 0px;
      left: 100%;
      font-size: 20px;
      background: #00d8c9;
      border-radius: 360px;
      padding: 4px;
      margin-left: -25px;
    }

    span {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-top: 60px;
      width: 116px;
      height: 56px;
      border-bottom-left-radius: 56px;
      border-bottom-right-radius: 56px;
      line-height: 56px;
      color: #FFFFFF;
      font-size: 18px;
      text-align: center;
      background-color: rgba(254, 95, 91, .75);
      opacity: 0;
      transition: opacity .5s;
    }

    &:hover {
      span {
        opacity: 1;
        transition: opacity .5s;
      }
    }
  }

  .profile-edit-button {
    float: right;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(252,97,95,1) url(/assets/img/founder/edit_button_icon_desktop_tablet.png) no-repeat center;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.35);
    margin-top: 40px;
  }

  .walletbox { background: #679afa;    color: rgba(255,255,255,0.8);
    text-align: center;
    float: right;
    width: 48px;
    height: 48px;
    
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.35);
    margin-top: 40px;
    padding-top: 15px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 25px;
    padding: 0;
    line-height: 52px;
    &:hover{
      color: #fff;
    background: #528dfd;
    }
  }

  .balancesheetbox { 
    background: #00d8c9; color: rgba(255,255,255,0.8);
    text-align: center;
    float: right;
    width: 48px;
    height: 48px;
    
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.35);
    margin-top: 40px;
    padding-top: 15px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 25px;
    padding: 0;
    line-height: 52px;
    &:hover{
      color: #fff;
    background: #14a299;
    }
  }
 
  h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 3px;
  }

  p {
    opacity: 0.9;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 6px;

    &.user-roles {
      font-size: 19px;
      line-height: 23px;
      text-transform: capitalize;
    }

    .dot {
      display: inline-block;
      vertical-align: middle;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      margin: 0 6px;
      opacity: 0.7;
      background-color: #4342E6;
    }
  }
}

.profile-details {
  padding-top: 21px;
  padding-bottom: 30px;
  width: 770px;

  h4 {
    opacity: 0.9;
    color: #4342E6;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
  }

  .document-image {
    height: 220px;
    border: 3px solid #BBB5DC;
    background: #F2EADF url(/assets/img/picture.png) no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}

.loading {
  background: transparent url(/assets/css/ajax-loader.gif) center no-repeat;
}

@media only screen and (max-width: 768px) {
  .profile-subheader {
    max-width: 600px;

    width: auto;
  }

  .profile-details {
    max-width: 600px;
    width: auto;

    .row {
      display: block;
    }
  }

  .profile-document {
    max-width: 390px;
    margin: 0 auto 15px;
  }
}

@media only screen and (max-width: 575px) {
  .profile-subheader {
    // margin-left: 15px;
    // margin-right: 15px;
    margin: 76px 15px 25px;

    p {
      .dot {
        display: none;
      }
    }
  }
}
.profile-subheader .visible-xs  {
  display: none;
}
@media only screen and (max-width: 640px) {
 .profile-subheader .visible-xs  {
    display: block;
  }
  .profile-subheader .user-avatar.white{    
    position: relative;   
    margin:10px auto;  
  }
}

