<div class="social-button-wrapper">
  <div class="row max-w-365">
    <div class="button-social facebook-btn">
      <a href="javascript:void(0);" (click)="signInWithFB()"><i class="icon"></i> Facebook</a>
    </div>
<!--    <div class="button-social twitter-btn">-->
<!--      &lt;!&ndash; <a href="https://saffrondab.herokuapp.com/auth/twitter/login"><i class="icon"></i> Twitter</a> &ndash;&gt;-->
<!--      &lt;!&ndash; <a href="https://api.twitter.com/oauth/authenticate?oauth_token=U131He4JIRd53tCZKKh9uxHMYxi2fzA8fs3INs0TwKHDq0wM32"><i class="icon"></i> Twitter</a> &ndash;&gt;-->
<!--      <a href="javascript:void(0);" (click)="signInWithTwitter()"><i class="icon"></i> Twitter</a>-->
<!--      &lt;!&ndash; <a href="http://10.0.2.43:8000/api/v1/twitter/login"><i class="icon"></i> Twitter</a> &ndash;&gt;-->
<!--    </div>-->
    <div class="button-social google-btn">
      <!-- <a href="https://saffrondab.herokuapp.com/auth/google/login"><i class="icon"></i> Google</a> -->
      <a href="javascript:void(0);" (click)="signInWithGoogle()"><i class="icon"></i> Google</a>
    </div>
  </div>

  <div class="row max-w-365">
    <!-- <app-linkedin-login></app-linkedin-login> -->
<!--    <div class="button-social linkedin-btn">-->
<!--      <a href="javascript:void(0);" (click)="signInWithLinkedIn()"><i class="icon"></i> Linkedin</a>-->
<!--    </div>-->
    <div class="button-social paypal-btn" >
      <!-- <a href="https://saffrondab.herokuapp.com/auth/paypal/login"><i class="icon"></i> PayPal</a> -->
      <!-- <span id='lippButton'></span> -->
      <a (click)="signInWithPaypal()"><i class="icon"></i> Paypal</a>
    </div>
  </div>

  <div class="row max-w-365">
    <!-- <div class="button-social angellist-btn">
      <a href=""><i class="icon"></i> AngelList</a>
    </div> -->
  </div>
  <!-- <div class="row max-w-365">
  <div class="button-social snapchat-btn">
    <a href=""><i class="icon"></i> Snapchat</a>
  </div>
  </div> -->
</div>
