@media (max-width: 499px) {
  .container-title {
    font-size: 1em;
    color: #fff;
  }


  .button-social {
    color:  #ffffff;
    display: block;
    width: 120px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin: 4px auto;
    text-decoration: none;

    cursor:pointer;
  }

  .container-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;

    align-items: center;

    max-width: 300px;
  }

}
