<div class="container-fluid signup-container bg-gradient">
    <div *ngIf="!callback" class="container-main bg-image">
        <div class="container-border">
            <!-- <app-navbar [isLoggedIn]="false" class="mobile-hidden"></app-navbar> -->
            <app-header class="no-bg position-absolute" [showBackButton]="false" [isLoggedIn]="false"></app-header>
            <div *ngIf="!idsignupprocess">
                <div class="signup-box container">
                    <div class="close-btn hidden-sm-up" [routerLink]="['/']"></div>

                    <div class="row">
                        <div class="col-12 col-lg-6 column pull-left">
                            <div class="container-title">Sign Up</div>
                            <div>
                                <form novalidate [formGroup]="signupForm" #f="ngForm" (ngSubmit)="registerUser()">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-5">
                                                <p-dropdown class="form-control" formControlName="method" [options]="singnUpMethod" (onChange)="removeErrors($event.value)"></p-dropdown>
                                            </div>
                                            <div class="col-7">
                                                <input *ngIf="signupForm.value.method === 'email'" class="form-control" placeholder="Email" type="email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
                                                    formControlName="email" />
                                                <!--pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"-->
                                                <app-phone-input *ngIf="signupForm.value.method === 'phone'" formControlName="phone" required></app-phone-input>
                                                <input *ngIf="signupForm.value.method === 'username'" class="form-control" type="text" required formControlName="username"
                                                    placeholder="User Name" />
                                                <!-- <p-dropdown class="form-control" *ngIf="signupForm.value.method === 'idproof'"  formControlName="idproofMethod" [options]="idproofOptions"></p-dropdown> -->
                                            
                                                <p-dropdown class="form-control" formControlName="idmethod" *ngIf="signupForm.value.method === 'idproof'" [options]="idMethods"></p-dropdown>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <!-- For Questionaries-->
                                        <div class="row" *ngIf="signupForm.value.method === 'username'">
                                            <div class="col-12">
                                                <!-- <label formControlName="question">{{question}}</label> -->
                                                <input type="text" class="form-control questionsignup" id="question" placeholder="Question" formControlName="question" value={{question}}
                                                    readonly>
                                                <input *ngIf="question_type=='text'" type="text" class="form-control" id="Answer" placeholder="Answer" formControlName="answer">
                                                <!-- <div *ngIf="question_type=='radio'"> -->
                                                <!-- <label *ngFor="let r of listValue" class="custom-control custom-radio">
                                                    <input id="{{r.key}}" formControlName="answer" type="radio" value="{{r.key}}" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">{{r.value}}</span>
                                                </label> -->

                                                <ul *ngIf="question_type=='radio'" class="radiogroup">
                                                    <li class="" *ngFor="let r of listValue">
                                                        <label class="custom-control custom-radio">
                                                            <input type="radio" formControlName="answer" class="custom-control-input" id="{{r.key}}" value="{{r.key}}">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">{{r.value}}</span>
                                                        </label>
                                                    </li>

                                                </ul>

                                                <ul *ngIf="question_type=='checkboxes'" class="radiogroup">
                                                    <li class="" *ngFor="let val of question.vals; let subindex = index; trackBy: trackByIndex;">
                                                        <label class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" (click)="chooseCheckbox(val, $event.target.checked)">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">{{c.value}}</span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="signupForm.value.method != 'idproof'">
                                        <!-- <div class="row" *ngIf="signupForm.value.method === 'email'"> -->
                                        <div class="row">
                                            <div class="col-12 col-sm-5 col-md-5 col-lg-12">
                                                <mat-form-field floatPlaceholder="never" class="password-form-control">  
                                                    <mat-placeholder>Password</mat-placeholder>
                                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required minlength="6" (keydown)="keydown($event)" (focus)="focus($event)">
                                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    </button>
                                                </mat-form-field>
                                                
                                                <div class="error-notification warning" *ngIf="displayCapsWarning">
                                                    <div class="alert-badge-border">
                                                        <div class="alert-badge"></div>
                                                    </div>
                                                    <div class="error-message-wrapper">Caps Lock Is On</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="signupForm.value.method == 'idproof' && isStage=='completeState'">
                                        <div class="row">
                                            <div class="col-12 col-sm-5 col-md-5 col-lg-12">
                                                <input placeholder="Password" type="password" class="form-control" formControlName="password" required minlength="6">
                                                <div *ngIf="f.submitted && objKeyMessage && objKeyMessage['DL_number']" class="errorwrap">{{objKeyMessage['DL_number'][0]}}</div>
                                                <div *ngIf="f.submitted && objKeyMessage && objKeyMessage['passport_number']" class="errorwrap">{{objKeyMessage['passport_number'][0]}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="row" *ngIf="showOtpInput && signupForm.value.method === 'phone'">
                                            <div class="col-12 col-sm-5 col-md-7">
                                                <app-otp-input segmentLength="2" segments="3" formControlName="otp" required></app-otp-input>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-6 col-md-7 otp-legend-container">
                                                <div class="otp-legend" *ngIf="showOtpInput && signupForm.value.method === 'phone'">
                                                    Enter the code we texted you. Want Us to
                                                    <a (click)="sendCode()" href="javascript:void(0)">send it again</a>?
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-12">
                                                <div class="btn-border pull-right" *ngIf="showJoinButton">
                                                    <!-- <div class="btn-border pull-right"> -->
                                                    <button type="submit" class="enter-btn">Join</button>
                                                </div>
                                                <div class="btn-border pull-right" *ngIf="!showOtpInput && signupForm.value.method === 'phone'">
                                                    <button type="button" class="enter-btn pull-right" (click)="sendCode()" [disabled]="!signupForm.valid">
                                                        Send code
                                                    </button>
                                                </div>
                                                <div *ngIf="signupForm.value.method === 'idproof' && isStage=='completeState'">
                                                        <div class="idpic">
                                                           
                                                           <div *ngIf="isStage=='completeState'">
                                                                <!-- Place ID image here -->
                                                            <img *ngIf="capturedInfo.passport_photo; else drivinglicense" [src]="capturedInfo.passport_photo">
                                                            <ng-template #drivinglicense>
                                                                <img [src]="capturedInfo.driver_license_photo">
                                                            </ng-template>
                                                        </div>
                                                        </div>
                                                </div>
                                                <div class="btn-border pull-right" *ngIf="signupForm.value.method === 'idproof'  && signupForm.value.idmethod && isStage!='completeState'">
                                                    <button type="submit" class="enter-btn" (click)="idsignupprocess=true">Next</button>
                                                </div>
                                                <div class="btn-border pull-right" *ngIf="signupForm.value.method === 'idproof'  && isStage=='completeState'">
                                                        <button type="submit" class="enter-btn" >Join</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-12">
                                                    <app-validation-message [messages]="messages" [msgArray]="msgArray" [fields]="fields"></app-validation-message>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>




                        <div class="vertical-separator">
                            <div class="line left"></div>
                            <div class="text">or</div>
                            <div class="line right"></div>
                        </div>

                        <div class="col-12 col-lg-6 pull-left column social-wrapper">
                            <div class="container-title">Sign In with</div>
                            <app-login-social></app-login-social>
                        </div>
                    </div>
                </div>
            </div>
            <app-id-sign-up *ngIf="idsignupprocess" [idmethod]="signupForm.value.idmethod" (idstage)="getidstage($event)"></app-id-sign-up>

            <div class="container-other-buttons row hidden-sm-down">
                <div class="link col-5 text-left" [routerLink]="['/']">
                    <i class="fa fa-arrow-left"></i> Back</div>
                <div class="link col-7 text-right" *ngIf="!idsignupprocess" [routerLink]="['/login']">Have an account?</div>
            </div>
        </div>
        <div class="privacy-policy" *ngIf="!idsignupprocess">By tapping "Join" you are agreeing to the
            <span class="c-white" (click)="openTermsOfUseModal()">Terms of use</span> and
            <span class="c-white text_underline" (click)="openPrivacyPolicyModal()">Privacy policy</span>
        </div>
    </div>
    <div *ngIf="callback" class="container-main bg-image">
        <div class="container-title text-center">Retrieving login information...</div>
    </div>
</div>