<div class="container-fluid backer">
    <div class="container-main">
        <div class="container-border">
            <!-- <app-navbar></app-navbar> -->
            <app-header class="position-absolute no-bg"></app-header>
            <div class="projects-container">
              <!-- <app-webrtc></app-webrtc> -->
            </div>
            <!-- <div class="projects-footer">
                <div class="back-button" (click)="_location.back()">Back</div>
            </div> -->
        </div>
    </div>
</div>