.saf_blue_theme  {     color: #2928e5;}
.projects-search { border-bottom: 1px solid #e2e2e1; margin-bottom: 5px; padding: 0;}
.saf_blue_theme .boxtable td { min-width: 105px; padding: 0.600em;}
.processesworked h3 { font-size: 1.75em;}
.saf_blue_theme .boxtable td.text-organge {color: #ff605c; }