.callscr {
  width: 250px;
  height: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;

  &.active {
    width: 100%;
    height: 100%;
  }
}

.callerInfo h5 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 15px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.callerpic {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 360px;
  -ms-border-radius: 360px;
  -moz-border-radius: 360px;
  -webkit-border-radius: 360px;
  border: 2px solid #715da7;
  background: #49308a url('/assets/img/person.jpg') center center no-repeat;
  background-size: 100%;

}

.callscr.active .callerpic,
.callscr.active .callerInfo h5 {
  display: none;
}

.callerpic img {
  width: 100%;
  min-height: 100%;
  height: auto;
  border-radius: 360px;
  -ms-border-radius: 360px;
  -moz-border-radius: 360px;
  -webkit-border-radius: 360px;
}

.callerInfo {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  text-align: center;
  z-index: 2;
}

.call_btns .btn {
  width: 45px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 360px;
  margin: 4px;
  color: #fff;
  background: transparent;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding: 0;
}

.call_btns .btn.startcall {
  /* color: #4cda64; */
  transform: rotate(137deg);
}

.call_btns .btn.startcall:hover {

}

.call_btns .btn.endcall {
  color: #fe5f5b;
  border-color: #fe5f5b;

}

.call_btns .btn.screenshare {

}

.call_btns .btn.screensharestop {
  position: relative;
  border-color: #fe5f5b;
}

.call_btns .btn.screensharestop:before {
  position: absolute;
  width: 2px;
  height: 100%;
  content: "";
  background: #fe5f5b;
  transform: rotate(26deg);
  top: 0;
  transform-origin: 50% 87%;
}

.call_btns .btn.recording {

}

.call_btns .btn.recordingstop {
  position: relative;

  border-color: #fe5f5b;

}

.call_btns .btn.recordingstop:before {
  position: absolute;
  width: 2px;
  height: 100%;
  content: "";
  background: #fe5f5b;
  transform: rotate(26deg);
  top: 0;
  transform-origin: 50% 87%;
}
