.profilename { font-weight: 500;}
h3.pageheading { font-size: 1.75em; margin-bottom: 0.893em; }
.saf_blue_theme  {     color: #2928e5;}
.saf_blue_theme .boxtable td.text-orange { color: #ff605c; }
.saf_blue_theme .boxtable td { min-width: 105px; padding: 0.600em;}

