.appoitmentpage                     { padding: 25px 0px; font-size: 18px; color:#151515; position: relative; }
.close-popup  { position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    border: 0;
    background: transparent;
    font-size: 26px;
    padding: 0;
    line-height: normal;
    color: #333; }
.appoitmentpage         { height:1530px; }
.appoitmentpage iframe  { height: 100%;}
