<div class="acc_content">
  <div class="p_wrap">
    <div class="p_question">Days per year</div>
    <div class="p_answer">{{availabilityInfo.days_per_year.title}}</div>
  </div>

  <div class="p_wrap">
    <div class="p_question">Hours per day</div>
    <div class="p_answer">{{availabilityInfo.hours_per_day.title}}</div>
  </div>

  <div class="p_wrap">
      <div class="p_question">Hourly Charges</div>
      <div class="p_answer">{{availabilityInfo.hourly_charges.title}}</div>
    </div>
</div>