// Starting Header part
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;

  h1 {
    color: #2929e4;
    font-size: 2.250em;
    font-weight: 500;
    line-height: 1.194em;
    margin: 2px;
  }
}

main {
  header {
    margin-bottom: 10px;
  }

  padding: 0;
  background-color: #f9f5f0;
  min-height: 100%;
  padding-bottom: 1.875em;
  //padding: 0.625em 0 3.750em 0;
  // min-height: calc(100% - 3.750rem);
}

// Ending Header part
// Starting Cardwrap
.cardwrap {
  margin-bottom: 10px;
  border-radius: 0;
  border: 0;
  background-color: white;
  padding: 2.25em;
  @media (max-width: 767px) {
    padding: 0.938em;
  }
}

// Ending Cardwrap
.mainlabel {
  margin-right: 50px;
}

.mainlablebox {
  font-weight: 500;
  font-size: 18px;
}

.durationbox {
  label {
    margin: 0;
    margin-top: 7px;
  }
}

hr {
  margin: 1.875em 0 2.500em 0;
}

.freq {
  .w25 {
    max-width: 3.611em;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 4px;
    // border-bottom: 1px solid #eaeaea;
    label {
      margin: 0;
    }

    .taskname {
      font-size: 18px;
      font-weight: 500;
      color: #2c2be5;
      word-break: break-all;
      line-height: normal;
      margin: 4px 0 5px;
    }

    & ~ .w25 {
      margin-left: 1.944em;
      padding: 0.444em 0;
    }
  }
}

.radiogroup .custom-control {
  margin-bottom: 10px;
}

.remindoption {
  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      list-style-type: none;
      display: inline-flex;
      width: 8.750em;

      .saffron_btn {
        width: 5.278em;
        height: 5.278em;
        border-radius: 360px;
        color: #2929e4;
        border: 0.222em solid #fff;
        padding: 0.167em;
        font-size: 1.125em;

        &:hover {
          color: #fff;
        }

        &.active {
          box-shadow: 0 0 0 2px #fe5f5b;
        }
      }
    }
  }
}

.taskwrap {
  min-height: 150px;
  margin: 25px 0 0;
  height: calc(100vh - 390px);
  padding-right: 10px;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      margin-bottom: 15px;

      .taskdesc {
        display: inline-block;
        width: calc(100% - 120px);
        vertical-align: middle;
        padding-bottom: 4px;
        border-bottom: 1px solid #eaeaea;

        .taskname {
          font-size: 18px;
          font-weight: 500;
          color: #2c2be5;
        }

        .taskinfo {
          display: flex;
          justify-content: space-between;
          font-size: 16px;
          color: #7272f2;
        }
      }

      .taskaction {
        display: inline-block;
        width: 110px;
        vertical-align: middle;
        text-align: right;

        button {
          width: 40px;
          height: 40px;
          border-radius: 360px;
          color: #fff;
          border: 0;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
          font-size: 26px;
          padding: 3px;

          &.editbtn {
            background: #fe5f5b;
            padding: 2px;

            i {
              font-size: 0.8em;
            }

            &:hover {
              background: #fe8c89;
            }
          }

          &.deletebtn {
            background: #00d8c9;

            &:hover {
              background: #1fe1d4;
            }
          }

          & + button {
            margin-left: 8px;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 480px) {
  .taskwrap ul li {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;

    .taskdesc {
      width: 100%;
      border-bottom: 0;

      .taskinfo {
        flex-direction: column;
      }
    }

    .taskaction {
      text-align: left;
      margin-top: 8px;
    }
  }

  .freq .w25 ~ .w25 {
    margin-left: 0.5em;
  }
}

@media only screen and (max-width: 360px) {
  .remindoption {
    ul {
      li {
        .saffron_btn {
          font-size: 1em;
        }
      }
    }
  }
}

$error-color: #fe5f5b;
.error-notification {
  position: relative;
  display: flex;
  align-items: center;
  float: left;
  width: 100%;
  min-height: 62px;
  height: auto;
  margin: 5px 0;
  background-color: #fff;
  border-left: 5px solid rgba(254, 95, 91, 0.8);

  .error-message-wrapper {
    display: flex;
    align-items: center;
    color: #4342e6;
    min-height: 62px;
    width: calc(100% - 60px);
    padding: 5px;
    height: auto;
    line-height: 17px;
  }

  .alert-badge-border {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid $error-color;
    margin: 10px;
    border-radius: 100%;

    .alert-badge {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-color: $error-color;
      background-image: url("/assets/img/alert-badge.png");
      background-size: 2px 16px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
