<aside
  #process_details
  class="process_details"
  [class.closed]="isProcessesOpen"
  [class.mobile_open]="activeMobileView === 'chat'"
  [style.width.px]="chatWidth"
>
  <app-element-resize class="resize-trigger" [externalSize]="chatWidth" (sizeChanged)="setChatWidth($event)"
                   (resizeBegin)="fixChatWidth()" (resizeEnd)="fixChatWidth($event)"></app-element-resize>

  <div class="chatwrap">
    <div class="switcher">
      <div class="open-chat" [class.hidden]="isChatOpen" (click)="openChat()">Go to
        <b>Discussion &rarr;</b>
      </div>

      <div class="open-details" [class.hidden]="!isChatOpen" (click)="isChatOpen = !isChatOpen">
        <b>&larr;</b> Back to
        <b>Details</b>
      </div>
    </div>

    <div class="top-bar">
      <div class="btn videocall-btn" (click)="startVideoCall()"></div>
      <app-chat-filters *ngIf="isChatOpen" (filtersChanged)="onChatFiltersChanged($event)"></app-chat-filters>
    </div>

    <div class="details" [class.open]="!isChatOpen" [class.open]="activeMobileView === 'details'">
      <h4>Details</h4>
      <div class="users">
        <a href="#" (click)="$event.preventDefault()" *ngFor="let user of users">
          <img *ngIf="user.photo_crop" src="{{user.photo_crop}}" alt="">
        </a>
      </div>
      <app-chat-participants *ngIf="process.participants" [process]="process" [showActivity]="false"></app-chat-participants>

      <!-- <div class="details-text">
        <p>Photographs are a way of preserving a moment in our lives for the rest of our lives.</p>
      </div> -->

      <div class="details-date">
        <b>Due on</b>{{process.due_date | date: 'MMM dd, yyyy HH:mm'}}
      </div>

      <div *ngIf="process?.extended_date" class="details-date">
        <b>Ext Date</b>{{process?.extended_date}}
      </div>

      <div class="details-rules">
        <h4>Rules</h4>
        <ul *ngIf="process.rules && process.rules.length > 0">
          <li *ngFor="let rule of process?.rules">{{rule.title}}</li>
        </ul>
      </div>
      <div class="form-group private-question">
        <label class="custom-control custom-checkbox" [title]="process.session_related_to_same_project ? 'Please stop your process to complete.' : ''">
          <input type="checkbox" class="form-control custom-control-input" [(ngModel)]="process.is_complete" [disabled]="process.active_session && process.session_related_to_same_project ? true : process.is_complete"
                 (change)="isComplete($event)">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"> is Complete</span>
          <!-- <i class="fa fa-lock font-large ml-1" aria-hidden="true"></i> -->
        </label>
      </div>
      <div>
        <button *ngIf="!process.is_complete" (click)="extendProcessReques(process.id)">Extension Request</button>
        <button *ngIf="process.is_complete" (click)="redirectToRating()">Rate Creator</button>
      </div>
    </div>

    <div class="chat" [class.open]="isChatOpen" [class.open]="activeMobileView === 'chat'">
      <div class="chat-section">
        <app-chat-messages-list
          class="chat-messages-list"
          *ngIf="chatRoom"
          [overDoubleWidth]="chatWidth >= 600"
          [chatRoom]="chatRoom"
          [isChatOpen]="isChatOpen"
        ></app-chat-messages-list>
      </div>
    </div>
  </div>
</aside>

<ng-template #popUpForExtensionMessage>
  <div class="modal-body">Extension hours is already applied.</div>
  <div class="modal-footer">
    <div class="buttons">
      <div class="btn btn-ok" (click)="popUpForShowInterestModalRef.close()">Ok</div>
    </div>
  </div>
</ng-template>

<ng-template #popUpForRateCreatorMessage>
  <div class="modal-body">Do you want to rate creator?</div>
  <div class="modal-footer">
    <div class="buttons">
      <div class="btn btn-ok" (click)="redirectToRating()">Now</div>
    </div>
    <div class="buttons">
      <div class="btn btn-cancel" (click)="popUpForShowInterestModalRef.close()">Later</div>
    </div>
  </div>
</ng-template>
