
<div class="interviewpopup saf_blue_theme">
    <div class="close_popup" (click)="activeModal.dismiss('Cross click')"><i class="icon-close"></i></div>
    
    <div class="popheading">Mike Smith</div>
    
    <div class="form-group datetimetextbox">
    <label>Interview Schedule for</label>
    <input  class="form-control textfeild" 
    [(ngModel)]="myDate"
    ng2-datetime-picker
    date-only="true" />

    <i class="iconmoon icon-menu"></i>
    <i class="iconmoon icon-close" (click)="myDate=''"></i>

    </div>

     
    <div class="form-group">
        <label>What would you like to do? </label>
        <div class="clearfix">
       <div class="reschedule_interviewbox">Reschedule Interview</div>
       <div class="attend_interviewbox"><i class="fa fa-share" aria-hidden="true"></i>
        Attend<br> Interview now</div>
      </div>
          
        </div>
        
          
    <div class="form-group datetimetextbox">
        <label>Schedule Interview</label>
        <input  class="form-control textfeild" 
        [(ngModel)]="myDate1"
        ng2-datetime-picker
        date-only="true" />

        <i class="iconmoon icon-menu"></i>
        <i class="iconmoon icon-close" (click)="myDate1=''"></i>
          
        </div>
    
      <div class="project-actions">
        <div class="btn-border skyblue" (click)="activeModal.close('Close click')">  
            <div class="btn skyblue-btn">Confirm</div>
          </div>
        </div>
    </div>
    