.form-control {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #010dff;
    border-radius: 0;
    margin-bottom: 17px;
  
    color: rgba(31, 30, 170, 0.9);
    font-size: 18px;
  
  
    &::placeholder {
      color: #808080;
    }
  }
  
  textarea.form-control {
    height: 39px;
    resize: none;
    overflow: hidden;
  }

  app-search-company.form-control {
    height: 39px;
    resize: none;
    overflow: hidden;
  }
  
  .has-image {
    display: inline-block;
    position: relative;
  }
  
  .remove-image-icon {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FE5F5B url('/assets/img/trash-icon.png') no-repeat center;
    top: -20px;
    right: -20px;
    color: #FE5F5B;
    transform: scale(1);
    transition-duration: .3s;
    cursor: pointer;
  
    &:hover {
      transform: scale(1.05);
      transition-duration: .3s;
    }
  }
  
  .dropzone-help-text {
    color: #4342E6;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 10px;
    max-width: 100%;
  
    .trigger {
      cursor: pointer;
      display: inline-block;
      margin-left: 18px;
      vertical-align: middle;
      text-decoration: underline;
  
      &:hover {
        text-decoration: none;
      }
    }
  
    .icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 9px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.35);
  
      &.upload {
        background: #6C9DF7 url('/assets/img/upload_new_photo.png') no-repeat center;
      }
  
      &.take-photo {
        background: #00d8c9 url('/assets/img/take_photo.png') no-repeat center;
      }
    }
  }
  
  .doc_drawing {
    display: block;
    height: 430px;
    background-color: #ffffff;
    margin-bottom: 25px;
  }
  