$side-padding: 12px;
header {
    height: 67px;
    background-color: #4342E6;
  }
  
  main {
  //  padding: 10px 60px 60px 60px;
  padding: 0.625em 0 3.750em 0;
    background-color: #f9f5f0;
    min-height: calc(100% - 67px);
  }
  
  .recruitment-wrap {
    position: relative;
  }
  
  
  
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
  
    h1 {
      color: #2929e4;
      font-size: 2.250em;
      font-weight: 500;
      line-height: 1.194em;
      margin: 2px;
    }
  
    
  }
  
  .modal-title {
    color: #4342E6;
    font-size: 24px;
    font-weight: 600;
  }
  
  .modal-header, .modal-body, .modal-footer {
    padding: 24px;
  }
  
  

  $primary-color: #4342e6;

div.container-fluid {
  min-height: 100%;
  height: auto;
  background:
    url(/assets/img/summary_header_dots.png) top center no-repeat,
    -webkit-linear-gradient(top, $primary-color, $primary-color 210px, rgb(249,245,240) 210px, rgb(249,245,240) 100%);
}

.container-main::after
{
  border-color: #333;
}

.container-border {

 // border-color: #333;
  justify-content: flex-start;
}

.subheader_summary {
  min-height: 230px;
  margin-top: 116px;
  position: relative;
  border-bottom: 1px solid rgba(1,13,255,.5);
  margin-bottom: 18px;

  .back-button {
    position: absolute;
    top: 75px;
    left: 0;
  }

  .icon {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    margin: 0 auto;
    background: #F5A623 url(/assets/img/idea/email_icon.png) no-repeat center;
  }

  h2 {
    color: $primary-color ;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    margin: 7px 0 8px;
  }

  .created {
    display: flex;
    align-items: center;
    justify-content: center;

    color: $primary-color;
    font-size: 16px;


    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin: 0 0 0 12px;
    }

    .name {
      font-weight: 600;
      margin-left: 6px;
    }
  }
}

.container-summary{
  padding: 0 0 60px 0;

  h2 {
    color: $primary-color;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 18px;
  }
}

.card {
  margin-bottom: 10px;
  border-radius: 0;
  border: 0;
  background-color: rgba(255,255,255,1);
  .card-block{
      padding:0;
  }
  .card-title {
    font-size: 1.500em;
    font-weight: 500;
    line-height: 1.208em;
    color: $primary-color;
    text-transform: capitalize;
    padding: 0.625em;
    margin-bottom: 0;
    cursor: pointer;

    i {
      width: 2.333em; height: 2.333em; border-radius: 360px; border:2px solid #00d8c9; color:#00d8c9;          
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: 0.556em 0;
      font-size: 0.750em;
      font-weight: 700;   
      margin-right: 10px; 
    }


    span {
      width: 1.333em;
      height: 1.333em;
      margin-top: 0.208em;
      opacity: 1;
      cursor: pointer;

      &.open {
        background: url(/assets/img/idea/accordeon_close_button.png); background-size: 100%;
      }

      &.close {
        font-size: 1em;
        background: url(/assets/img/idea/accordeon_open_button.png);background-size: 100%;
      }
    }
  }

  .card-text {
    padding:1.250em;
  }

  .qa-item {
    padding: 0 83px;

    h3 {
      color: $primary-color;
      font-size: 24px;
      font-weight: bold;
      line-height: 29px;
      margin-bottom: 12px;
      text-transform: uppercase;
    }

    p {
      color: #4342E6;
      font-size: 18px;
      line-height: 22px;
    }
  }

  .qa-item + .qa-item {
    margin-top: 30px;
  }

  .custom-control {
    align-items: center;

    .custom-control-indicator {
      border-radius: 0;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 1px solid #010DFF;
      top: 1px;
      transition: background-color .3s;

      &:focus {
        border: 0;
        outline: 0;
      }
    }

    .custom-control-input:checked~.custom-control-indicator {
      background-color: rgba(67, 66, 230, 0.9);
      transition: background-color .3s;
    }

    .custom-control-description {
      color: rgba(67, 66, 230, 0.9);
      font-size: 16px;
      line-height: 20px;
    }

    .fa {
      color: rgba(67, 66, 230, 0.9);
    }
  }
}
.projects-footer {
  width: 80%;

  .back-button {
    clear: both;
    margin: 6px $side-padding;
  }
}
.summary-buttons {
  text-align: center;
  padding-top: 20px;

  .button {
    display: inline-block;
    vertical-align: middle;
    margin: 9px;
    line-height: 39px;
    border: 1px solid #fff;
    padding: 0 33px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;

    transition: border-color .3s;


    &:hover {
      transition: border-color .3s;

      &.blue {
        border-color: #679BF9;
      }
      &.orange {
        border-color: #FF6C24;
      }
      &.red {
        border-color: #FE5F5B;
      }
    }

    &.blue {
      background-color: #679BF9;
      box-shadow: 0 0 0 3px #679BF9;
    }

    &.orange {
      background-color: #FF6C24;
      box-shadow: 0 0 0 3px #FF6C24;
    }
    &.red {
      background-color: #FE5F5B;
      box-shadow: 0 0 0 3px #FE5F5B;
    }
  }
}

.project-visibility {
  width: 30px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s;

  &:hover {
    opacity: .8;
    transition: opacity .3s;
  }
}

@media only screen and (max-width: 992px) {

  .saf_blue_theme .post-buttons .button { padding: 0 10px;}
  .recruitment-wrap { width: 100%; }
  .subheader_summary {
    width: calc(100% - 48px);
  }

  .container-summary {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;


    .qa-item {
      padding: 0 0 0 9px;
    }
  }
}

@media only screen and (max-width: 480px) {
  div.container-fluid {
    background: url(/assets/img/summary_header_dots.png) top center no-repeat,
      linear-gradient(#4342e6 0px, #4342e6 156px, #f9f5f0 156px, #f9f5f0 100%);
  }

  .subheader_summary {
    margin-top: 93px;
    width: calc(100% - 26px);

    .created {
      flex-direction: column;
      padding-bottom: 10px;

      img {
        margin-left: 0;
      }

      .name {
        margin-left: 0;
      }
    }

    .back-button {
      top: 55px;
    }

    .icon {
      width: 94px;
      height: 94px;
      background-size: 60%;
    }
  }

  .container-summary {
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 10px;
    width: 100%;

    h2 {
      font-weight: normal;
    }


    .card-title {
      padding-left: 0;
    }
  }

  .summary-buttons {
    .button {
      display: block;
      margin: 0 0 20px;
    }
  }
}
.interviewpopup {
    position: relative;
    padding:10px 35px 35px 35px;
    .close_popup {
        font-size: 13px; width: 50px; height: 50px; border-radius: 360px; background: #fe5f5b; color:#fff;
         box-shadow: 0 0 5px rgba(0,0,0,0.5); position: absolute; top:-68px; right: 10px;text-align: center;  line-height: 54px;cursor: pointer; 
         &:hover{
            background: #fc514d;
        }
    }
    &::after {
        position: absolute; top:-20px; right: 25px; content: ""; border-style: solid; border-width: 10px; border-color:transparent transparent #fff transparent
    }
    &::before {
        position: absolute; top:-22px; right: 24px; content: ""; border-style: solid; border-width: 11px; border-color:transparent transparent #3c3e3e transparent
    }
    .popheading { font-size:36px; color:#2929e4; font-weight: 500; margin-bottom: 30px; }
    label {  font-size: 18px; }
    .form-control { color: #2929e4;}
    
}
.saf_blue_theme .employee-table tr td  { height: auto;}
.saf_blue_theme .employee-table tr .Employee-title .employee-name  {     margin-bottom: 0;}
.saf_blue_theme .project-actions  { flex-wrap: nowrap;     display: inline-flex;}

/** New Styles */
.employee-table tr td {
  vertical-align: middle;
}

.employee-table tr td:first-child {
  width:60%;
}

.employee-table tr td:last-child {
  width:40%;
}

.saffron-btn {
  font-weight: 400;
  transition: .3s ease-in-out;
  min-width: 6em;
  white-space: nowrap;
  outline: none;
  font-size: 1.125em;
  font-family: ProximaNova, sans-serif;
  color: #ffffff;
  border: 2px solid #dddddd;
  background-color: #dddddd;
  transition: .3s ease-in-out;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 0 1px #fff inset;
  margin: 2px 5px 2px 0;
}

.saffron-btn:active {
  outline: none;
}

.saffron-btn:hover {
  box-shadow: 0 0 0 1px transparent inset;
  outline: none;
}

.saffron-btn.dark-turquoise {
  background-color: #00d8c9;
  border: 2px solid #00d8c9;
}

.saffron-btn.maya-blue {
  background-color: #679BF9;
  border: 2px solid #679BF9;
}

.saffron-btn.pumpkin {
  background-color: #FF6C24;
  border: 2px solid #FF6C24;
}

.project-actions {
  width: auto;
  justify-content: right;
}

.project-actions.form-group {
  display:block !important;
  text-align: right;
}

@media only screen and (max-width: 840px) {
  .employee-table tr td:first-child {
    width:50%;
  }
  
  .employee-table tr td:last-child {
    width:50%;
  }
}

@media only screen and (max-width: 767px) {
  .employee-table tr td {
    display: table-cell;
  }

  .employee-table tr td:first-child {
    padding: 20px 15px 20px 15px;
  }
  
  .employee-table tr td:last-child {
    text-align: right;
    border-top: 1px solid #eceeef;
    padding: 20px 15px 20px 15px;
  }
}

@media only screen and (max-width: 767px) {
  .employee-table tr td {
    display: block;
    width:100% !important;
  }

  .employee-table tr td:first-child {
    padding: 10px 15px 5px 15px;
  }

  .employee-table tr td:last-child {
    border-top:none;
    text-align: center;
    padding: 5px 15px 10px 15px;
  }

  .saffron-btn {
    font-size: 1em;
  }
}