<div class="container-fluid kanbonboard">
  <div class="container-main">
    <app-header
      class="position-static"
      [backNavOptions]="{caption: project.title, route: ['backer', 'my-projects', project.id, 'operations']}"
    ></app-header>

    <div class="content-main">
      <div class="content-main-header">
        <div class="title">{{milestone_title}}</div>
        <div class="btn-group">
          <a [hidden]="true" (click)="editGoalBtnClicked()" [ngClass]="edit_btn_class"></a>
          <a [hidden]="true" routerLink="./newgoal" class="add_btn"></a>
        </div>
      </div>

      <div class="content-main-body" #dynamicComponentContainer></div>
    </div>
  </div>
</div>
