<table class="table">
  <thead>
    <tr>
      <th>ATTRIBUTES</th>
      <th>RATINGS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let attribute of parameterInfoList; let index = index">
      <td>{{attribute.title}}</td>
      <td>
        <ngb-rating [(rate)]="attribute.rating" [readonly]="(employeeRatings && employeeRatings.length > 0)" max="5"></ngb-rating>        
      </td>
    </tr>
  </tbody>
</table>

<div class="text-right">
  <button class="saffron_btn skyblue_btn" *ngIf="!(employeeRatings && employeeRatings.length > 0)" (click)="postRateEmployee()">Submit</button>
</div>