<app-document-explorer *ngIf="process"
                       class="app-document-explorer"
                       [items]="documents | filterDocumentType: process.documentTypeFilter"
                       (open)="openDocument($event)"
                       (export)="exportDocument($event)"
                       (createDocument)="createDocument($event)"
                       (renameDocument)="renameDocument($event.item, $event.name)"
                       (percentageDocument)="percentageDocument($event.item, $event.percentage)"
                       (deleteDocument)="deleteDocument($event)">
</app-document-explorer>
