<div class="projectsuccess">
    <div id="done" class="done-container"><div class="done-btn1 icon-check" ></div></div>
      <div class="projectsucctext">
          The launch has been successful on {{platform.title}}. To generate more funds consider using ‘Manage Funding’ to unleash the ways to reach more target audience.
    </div>

    <div class="post-buttons">
        <button class="saffron_btn red_btn"  type="button" [routerLink]="['/founder/projects']">Back</button>            
        <button class="saffron_btn orange_btn" type="button" (click)="goToManageFund()">Manage Funding</button>
    </div>
</div>