
// .saffron_btn{
//   min-width: 130px;
//   text-align: center;
// }
// .cardwrap{
//   background: #fff;
//   .cardheading{
//     border-bottom: 1px solid #eaeaea;
//     padding: 20px 40px; 
//     h3{
//       margin: 0; font-size: 30px;
//     }
//   }
//   .cardbody {
//     padding: 20px 40px; 
//   }
// }
.container-sm {
    width: 96%;
    margin: auto;
}
.saffron_btn {    
    min-width: 7.222em;
    font-size: 1.125em;
    padding: 0.167em 1em;
    margin: 0.111em 0;
    text-align: center;
    white-space: nowrap;
    &+.saffron_btn {         
     margin-left: 1.389em;
   }
  }
  .topicwrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.688em;
    .topicbox{
      width: 16.66%;
      padding: 0.438em 0.688em;
      text-align: center;
      .topicclickbox{
        cursor: pointer;
      }
      .topicimgbox{
        // padding: 25px;
        position: relative;
        padding-bottom: 100%;
       
        img{
          width: 55%;
          max-width: 9.375em;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 55%;
          transition: 0.5s all;
        }
      }
      h4 {
        margin: 0;
        font-size: 1.125em;
        margin-top: 0.556em;
       
      }
    }
  }
  
  
  
  
  
  
    // .project-title {
    //   display: flex;
    //   flex-direction: row;
    //   height: 100%;
    //   align-items: center;
    //   color: #4342e6;
    //   font-size: 21px;
    //   font-weight: 600;
    
    //   .project-icon {
    //     height: 39px;
    //     width: 39px;
    //     line-height: 41px;
    //     text-align: center;
    //     color: #fff;
    //     text-transform: uppercase;
    //     font-weight: 100;
    //     border-radius: 50%;
    //     background-color: #88B7EF;
    //     margin-right: 9px;
    //   }
    
    //   .project-name{
    //     width :  calc(100% - 48px);
    //     overflow:hidden;
    //     display:inline-block;
    //     text-overflow: ellipsis;
    //     white-space: nowrap;
    //   }
    // }
    // .media-left .mediaimg { width:64px; height:64px; overflow: hidden; border-radius: 360px;
    //   img{
    //     width: 100%; height:auto; min-height: 100%;
    //   }
    // }
    .overlaywrap{
      display: flex;
      flex-direction: column;
      padding: 0;
     
     
      position: absolute; top:100%; left: 0; right:0; bottom:0; transition: 0.5s all;
      .topicdetails{
        text-align: center;
      height: 50%;
      color: #fff;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      overflow: hidden;
  
  
        .count{
            font-size: 1.500em;
            font-weight: 500;
        }
        .countname{
          font-size: 0.875em;
        }
        &+ .topicdetails{
          border-top:1px solid #fff;
        }
      }
    }
  
    .topicclickbox:hover{
      .overlaywrap{
        padding: 0.750em;
      }
   
  .topicimgbox img { opacity:0.2 ; }
  .overlaywrap{
    top:0;
  }
    }
  
  
    @media only screen and (max-width: 991px) {
      .topicwrap .topicbox {
        width: 25%;
      }
    }
  
    @media only screen and (max-width: 576px) {
      .topicwrap .topicbox {
        width: 33.33%;
      }
    }
  
  
  
    
  
  
  // .saffron_btn{
  //   min-width: 130px;
  //   text-align: center;
  // }
  // .cardwrap{
  //   background: #fff;
  //   .cardheading{
  //     border-bottom: 1px solid #eaeaea;
  //     padding: 20px 40px; 
  //     h3{
  //       margin: 0; font-size: 30px;
  //     }
  //   }
  //   .cardbody {
  //     padding: 20px 40px; 
  //   }
  // }
  
  // .cardheading {
  //   p-dropdown{
  //     min-width: 170px;
      
  //   }
  //   .form-group{
  //     margin-bottom: 0;
  //   }
  // }
  // .topheading
  // { p-dropdown{
  //   max-width: 170px;
  //   margin-top: 18px;
  // }
  // .form-group{
  //   margin-bottom: 25px;
  // }
  // .form-control{
  //   background: transparent;
  // }
  // .projects-search{
  //   min-width: 300px;
  //   border-bottom: 1px solid #eaeaea;
  //   padding: 0;
  // }
  
  
  // }
  
  
  
  
  // .project-title {
  //   display: flex;
  //   flex-direction: row;
  //   height: 100%;
  //   align-items: center;
  //   color: #4342e6;
  //   font-size: 21px;
  //   font-weight: 600;
  
  //   .project-icon {
  //     height: 50px;
  //     width: 50px;
  //     line-height: 50px;
  //     text-align: center;
  //     color: #fff;
  //     text-transform: uppercase;
  //     font-weight: 100;
  //     border-radius: 50%;
  //     background-color: #88B7EF;
  //   min-width: 50px;
  //   font-size: 29px;
  //   }
  
  //   .project-name{
  //     width :  calc(100% - 48px);
  //     overflow:hidden;
  //     display:inline-block;
  //     text-overflow: ellipsis;
  //     white-space: nowrap;
  //   }
  // }
  
  // .media-left .mediaimg { width:50px; height:50px; overflow: hidden; border-radius: 360px; margin-right:20px;
  //   img{
  //     width: 100%; height:auto; min-height: 100%;
  //   }
  // }
  
  // .media{
  //   padding: 25px 0 10px;
  // }
  // .media{
  //   & + .media{
  //     border-top:1px solid #eaeaea;
  //     padding: 45px 0 10px;
  //   }
  // }
  // .media-body{
  
  //   h5 {
  //      font-size: 24px;
  //      margin: 0;
      
  //   }
  //   .action-time {
  //     font-size: 16px; display: block; color:#7272f2;
  //   }
  //   p{
  //       font-size: 18px;
  //       margin: 1em 0;
  //   }
   
  // } .postcounts{
  //   color:#669bf9;
  //   display: flex;
  //   flex-flow: column;
  //   text-align: right;
  //   cursor: pointer;
  // }
  
  
  
  
  
  
  
  

.videoTitle { font-size: 1.500em;
    a{
        color:inherit;
        &:hover{
            color:inherit;
        }
    }
}
