
.text-orange {color:#ff6d24; }
.text-blue { color:#669bf9;}
.employee-table tr .Employee-title .employee-name { margin-bottom: 0.7em; }
.employee_des { margin-bottom: 20px;}
.employee-budget-td { width: 140px !important; }
.employee-budget-wrap { display: flex; align-items: flex-end; height: 100%;}