.jqx-kanban-item-color-status {
    width: 100%;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    margin-top: 0px;
    overflow: hidden;
    top: 0px;
  }
  
  .jqx-kanban-item {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .jqx-kanban-item-text {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #444;
    height: 100px;
  }
  
  .jqx-kanban-item-avatar {
    top: 9px;
  }
  
  .jqx-kanban-template-icon {
    position: absolute;
    right: 3px;
    top: 12px;
  }
  
  .jqx-kanban-column-container {
    margin: 1px;
    overflow-y: auto;
    padding: 10px;
    height: auto !important;
  }
  
  .jqx-kanban {
    width: 100% !important;
  }
  
  .jqx-kanban-column {
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    float: left;
    margin: 10px;
    width: calc(25% - 20px) !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 5px;
    height: auto !important;
  }
  
  .jqx-kanban-column-header-title {
    font-size: 1.3rem;
    color: #6c6c83;
    margin-left: 5px;
    font-family: ProximaNova;
    font-weight: 400;
  }
  
  .jqx-kanban-column-header {
    border-width: 1px;
    border-style: solid;
    margin: 1px;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    border: none;
    border-top: solid 5px #679bf9;
    margin: 0px;
    padding: 8px 5px;
    margin-bottom: -10px;
  }
  
  .jqx-kanban-column-header-button,
  .jqx-kanban-column-header-custom-button {
    display: none;
  }
  
  .jqx-kanban-item {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 150px;
    background-color: #f8cc50;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 2px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 10px;
  }
  
  .jqx-kanban-item-color-status {
    background-color: transparent;
    font-size: 18px;
    font-family: ProximaNova;
    font-weight: 600;
    color: #444444;
  }
  
  .jqx-icon-close {
    display: none;
  }