// .container-main {
//   display: block;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: center;
// }
// .container-logo {
//   height: 40px;
// }
// .bg-image {
//   background-image: url(/assets/img/circle2.png);
//   background-repeat: no-repeat;
//   background-size: 480px 540px;
//   background-position: 0px -10px;
// }
// .container-center {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }
// .container-title {
//   color: #f9f5f0;
//   // font-size: 48px;
//   font-weight: 300;
// }
// .container-button {
//   margin: 0px;
//   width: 170px;
//   height: 170px;
//   border-width: 3px;
//   border-radius: 85px;
//   border-style: solid;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 3px;
//   transition: .2s ease-in-out;
//   cursor: pointer;
//   margin: 22px;
// }
.date-input {
    display: inline;
    padding: 0px;
}

.content-main-body input {
    color: #4342e6;
    font-size: 18px;
    padding: 8px 10px;
    border: none;
    outline: none;
    border-bottom: solid 2px #4342e6;
    line-height: 1rem;
    margin-bottom: 15px;
}

input.rule {
    display: block;
    border: none;
    color: #4342e6;
    outline: none;
}

input.rule:focus {
    background: #eee;
}

input.rule:blur {
    background: white;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.process_list .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        margin: 0px;
    }
    .empty-add-btn {
        color: #4342e6;
        border-radius: 50%;
        /* padding: 10px; */
        border: solid 1px #4342e6;
        font-size: 25px;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3px;
        cursor: pointer;
        margin-right: 10px;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.process-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h3 {
        margin: 0px;
        font-size: 1.2rem;
        padding: 10px;
        font-family: ProximaNova;
        font-weight: 500;
        color: #4342e6;
    }
    .dot-border-empty-add-btn {
        color: #4342e6;
        border-radius: 50%;
        /* padding: 10px; */
        border: dotted 2px #4342e6;
        font-size: 25px;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3px;
        cursor: pointer;
        margin-right: 10px;
    }
}

.process {
    border: solid 1px #4342e6;
    padding: 0px 10px;
    margin-bottom: 10px;
}

.process-content {
    border-top: solid 2px #737bf4;
}

.up {
    background-image: url('/assets/img/up-arrow-blue.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.down {
    background-image: url('/assets/img/down-arrow-blue.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.process-header {
  display: flex;
  align-items: center;
  color: #4342e6;
  padding: 8px;
 
  .name {
    font-size: 18px;
    outline: none;
    margin: 0 10px 0 0;
    border: 1px solid transparent;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .name:focus {
    border: 1px solid #4342e6;
  }
  .name:blur {
    border: 1px solid transparent;
  }

  .arrow {
    width: 18px;
    height: 18px;
    cursor: pointer;
    .md-arrow {
      font-size: 35px;
      font-weight: 100;
      margin-left: -8px;
      margin-top: -7px;
      color: #4342e6;
    }
}


.btn {
    padding: 0;
}
}
.content-footer {
    width: 100%;
    margin: 20px 0px;
    text-align: right;
    .create-btn {
        background: #5c91f8;
        padding: 2px;
        display: inline-block;
        .inner-section {
            background: #5c91f8;
            border: solid 1px white;
            padding: 5px 30px;
            color: white;
            cursor: pointer;
            font-size: 20px;
        }
    }
}

.due-date {
    flex: 3;
    display: flex;
    padding: 0 10px 0 0;
    align-items: center;
    justify-content: flex-end;
    text-indent: 4px;
    font-size: 16px;
    a {
        text-decoration: underline;
        color: #4342e6;
    }
}

li {
    list-style-type: none;
    color: #4342e6;
    margin-left: -1rem;
}

.content-main .back-btn {
    display: flex;
    align-items: flex-end;
    padding: 15px;
    width: 100px;
    img {
        width: 20px;
        margin-right: 10px;
    }
    a {
        color: #4342e6;
        font-size: 18px;
        line-height: 1rem;
        margin-bottom: 2px;
        font-weight: bold;
        cursor: pointer;
    }
}

@media (max-width:767px) {
    .process-header {
        flex-wrap: wrap;
    }
}

// @media (max-width: 992px) {
//   // .bg-image {
//   //   background-size: contain;
//   // }
// }
// @media (max-width: 767px) {
//   // .container-center {
//   //   flex-direction: row;
//   //   .container-title {
//   //     font-size: 24px;
//   //   }
//   //   .container-buttons {
//   //     flex-direction: column;
//   //     margin: 0;
//   //     .container-button {
//   //       width: 150px;
//   //       height: 150px;
//   //       border-radius: 50%;
//   //       .button-inner {
//   //         width: calc(100% - 12px);
//   //         height: calc(100% - 12px);
//   //         font-size: 24px;
//   //         border-radius: 50%;
//   //       }
//   //     }
//   //   }
//   // }
// }
// @media (max-width: 499px) {
//   .container-center {
//     .container-title {
//       font-size: 20px;
//     }
//   }
//   .container-footer {
//     &.choose-role-footer {
//       font-size: 16px;
//       letter-spacing: -1px;
//     }
//   }
// }
// @media (min-width: 500px) {
//   .container-buttons {
//     display: flex;
//     flex-direction: row;
//     margin-bottom: 100px;
//   }
//   .container-button:hover {
//     -webkit-filter: blur(0px);
//     filter: blur(0px);
//     -webkit-transform: scale(1.1);
//     -ms-transform: scale(1.1);
//     transform: scale(1.1);
//     transition: .2s ease-in-out;
//   }
// }
// @media screen and (max-width:768px) and (orientation:landscape) {
//   .container-center {
//     flex-direction: column;
//     .container-buttons {
//       flex-direction: row;
//       margin: 0;
//       .container-button {
//         width: 120px;
//         height: 120px;
//         .button-inner {
//           font-size: 18px;
//         }
//       }
//     }
//   }
// }
// .button-inner {
//   width: 158px;
//   height: 158px;
//   border-radius: 79px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: #f9f5f0;
//   font-size: 34px;
//   font-weight: bold;
// }
// .border-green {
//   border-color: #00d8c9;
// }
// .border-blue {
//   border-color: #679bf9;
// }
// .border-orange {
//   border-color: #ff6c24;
// }
// .back-green {
//   background-color: #00d8c9;
// }
// .back-blue {
//   background-color: #679bf9;
// }
// .back-orange {
//   background-color: #ff6c24;
// }
.delete-btn {
    display: inline-block;
    background-image: url(/assets/img/founder/delete_btn.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    box-sizing: content-box;
    padding: 7px;
    border: solid 1px red;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0px;
    margin-right: 6px;
}