<div class="hire_employees">

  <div class="projects-search">
    <div class="search-icon"></div>
    <input class="form-control" type="text" placeholder="search here" [(ngModel)]="searchText" (input)="valueChange()" />
  </div>
  <table class="table table-hover  employee-table">
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>
          <div class="Employee-title">
            <div (click)="getProfile(employee.userprofile_id)" class="employee-name">{{employee.first_name}} {{employee.last_name}} ({{employee.experience}})<i *ngIf="employee?.is_kyc_complete" class="icon-check2 verified"></i></div>
            <div class="employee-details">
              <div class="employee_des">{{employee.current_designation}}</div>
              <div class="ava">Availability : {{employee.availability_details[0].hours_per_day.title}} hours/day</div>
            </div>
          </div>
        </td>
        <td>
          <div class="Employee-oth">
            <div class="employee-starrate rateus" [routerLink]="['../../../', employee.id, rateFor]">
              <ngb-rating [rate]="employee.rating"></ngb-rating>
            </div>
            <div class="employee-budget">{{employee.availability_details[0].hourly_charges.title}}</div>
          </div>
        </td>
        <td class="attached_file">
          <i class="fa fa-paperclip" *ngIf="employee.termination_envelop && employee.termination_envelop != null && employee.termination_envelop != ''" (click)="checkDocuSign(employee, popUpForDocuSignMessage)" title="Fired Attachment"></i>
        </td>
        <td>
          <div class="project-actions">
            <!-- <div class="btn-border skyblue">
              <div class="btn  skyblue-btn" *ngIf="employee.termination_envelop && employee.termination_envelop != null && employee.termination_envelop != ''"
              (click)="checkDocuSign(employee, popUpForDocuSignMessage)" title="Fired Attachment">Att</div>
            </div> -->

            <div class="btn-border skyblue">
              <div class="btn  skyblue-btn" (click)="projectMessage(employee)">Message</div>
            </div>
            <div class="btn-border orange">
              <button type="button" class="btn orange-btn" *ngIf="employee.rehire_envelop == null" [disabled]="flagHired" (click)="interviewletter(employee)">Re-Hire</button>
              <button type="button" class="btn orange-btn" *ngIf="employee.rehire_envelop && employee.rehire_envelop != null && employee.rehire_envelop != ''" (click)="checkDocuSignReHire(employee, popUpForDocuSignMessage)">Appointment Letter</button>
            </div>
            <div class="btn-border blue">
              <div class="btn blue-btn" (click)="metrices(employee)">Metrics</div>
            </div>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
  <app-pagination class="my-pagination" [pageSize]="pageSize" [pagesQuantity]="count" (pageChanged)="getPreviousEmpoloyeeList($event)"></app-pagination>

</div>

<ng-template #popUpForDocuSignMessage>
  <div class="modal-body">DocuSign is pending on either side.</div>
  <div class="modal-footer">
    <div class="buttons">
      <div class="btn btn-ok" (click)="popUpForDocuSignModalRef.close()">Ok</div>
    </div>
  </div>
</ng-template>
