.rateus { cursor: pointer; }
.rateus:before  { content:"Rate Us"; font-size: 15px;
    display: block;
    line-height: 10px; }
.attached_file      { width:10px; vertical-align: bottom;}
.attached_file i      { font-size: 20px; color: #00D8C9; cursor: pointer;}