.width220                   { width: 270px; color:#4342e6;}
.recordTop                  { top: -5px; position: relative;}
.recordTop .form-control    
                            { border-bottom: #4342E6 2px solid; border-top:none; border-left:none; border-right:none;
                            border-radius: 0}
                        

                            .shareup { color:#679bf9; }
                            .sharedown {  color:#fe5f5b;}
                            .buttonwrap { width: 150px;
                                .saffron_btn {
                                    width: 100%;
                                }
                            }