.pad-right-adjust  { padding-right: 125px; }

.text-orange {color:#ff6d24; }
.text-blue { color:#669bf9;}
.employee-table tr .Employee-title .employee-name { margin-bottom: 0.7em; }
.employee_des { margin-bottom: 20px;}