<div class="interviewpopup saf_blue_theme saffron-popupcontent">
  <div class="close_popup" (click)="activeModal.dismiss('Cross click')"><i class="icon-close"></i></div>

  <div class="popheading">Extension request by {{extensionInfo?.employee}}</div>

  <div class="cardwrap tabwrap">
    <div class="cardwrap">
      <div class="s-box">
        <div class="s-box-body">
          <div class="table-responsive">
            <table class="table">
              <tbody *ngIf="id">
                <tr>
                  <td><strong>project:</strong> {{extensionInfo?.project}}</td>
                  <td><strong>Milestone:</strong> {{extensionInfo?.milestone}}</td>
                  <td><strong>Process:</strong> {{extensionInfo?.process}}</td>
                </tr>
                <tr>
                  <td><strong>Goal:</strong> {{extensionInfo?.goal}}</td>
                  <td><strong>Due Date:</strong> {{extensionInfo?.due_date}}</td>
                  <td><strong>Extended Hours:</strong> {{extensionInfo?.extended_hours}}</td>
                </tr>
                <tr *ngIf="extensionInfo?.status != 'new'">
                  <td colspan="3">Status: {{extensionInfo?.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="project-actions" *ngIf="extensionInfo?.status == 'new'">
    <div class="btn-border skyblue" (click)="updateExtensionStatus('accept')">
      <div class="btn skyblue-btn">Accept</div>
    </div>
    <div class="btn-border red" (click)="updateExtensionStatus('decline')">
      <div class="btn red-btn">Decline</div>
    </div>
  </div>
</div>