:host {
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  min-height: 0;
  border-top: 1px solid #ccc;

  perfect-scrollbar {
    height: 100%;
  }

  .scrollingcontent {
    padding: 0 24px 12px;
  }

  .message {
    margin-bottom: 20px;
    color: #6b6b6b;

    .question_heading {
      font-weight: 600;
      color: #444444;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    .replyfor {
      padding-left: 10px;
      border-left: 4px solid #ccc;
      margin-left: 45PX;
      margin-bottom: 9px;
      line-height: 1.2em;

      small {
        font-size: 14px;
      }

      .replyforinfo {
        display: flex;

        .username {
          max-width: calc(100% - 60px);
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .message-body {
        margin-top: 10px;
      }
    }

    .user {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;

      .user-photo {
        position: relative;
        text-decoration: none;
        width: 32px;
        height: 32px;
        min-width: 32px;
        border-radius: 50%;
        background: #ccc url(/assets/img/navbar-noavatar-icon.png) no-repeat center;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        .user-status-indicator {
          width: 7px;
          height: 7px;
          border-radius: 7px;
          position: absolute;
          bottom: -2px;
          right: -2px;

          &.user-status-online {
            background-color: green;
          }

          &.user-status-away {
            background-color: orange;
          }

          &.user-status-busy {
            background-color: red;
          }

          &.user-status-offline {
            background-color: grey;
          }

          &.user-status-unknown {
            background-color: grey;
          }
        }
      }

      .user-name {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin-left: 12px;
        width: 100%;

        .star-message {
          cursor: pointer;
        }

        .username {
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          white-space: nowrap;
          color: #0d0d0d;
          max-width: 130px;
          display: inline-block;
          vertical-align: middle;
          font-weight: 500;
        }
      }

      .message-time {
        font-size: 14px;
        line-height: 26px;
        color: #9ea0a6;
        white-space: nowrap;
        margin-left: 12px;
        font-weight: normal;
      }

      .message-type {
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        color: #727272;
        white-space: nowrap;
        position: relative;
        top: -3px;
        font-weight: normal;
        margin-bottom: 5px;
        text-transform: capitalize;
        line-height: normal;
      }
    }

    .message-body {
      margin-bottom: 0;
      color: #3d3c40;
      font-size: 16px;
      line-height: 1.4em;
      padding-left: 44px;
      white-space: pre-line;
      word-wrap: break-word;

      &:first-of-type {
        margin-top: -10px;
      }
    }

    .pollwrap {
      margin-top: 5px;
      border: 1px solid #dddddd;
      padding: 10px;
      margin-left: 44px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .custom-control {
        padding-left: 35px;

        .custom-control-indicator {
          border-radius: 360px;
          border-color: #cecccc;
          width: 22px;
          height: 22px;
        }

        .custom-control-description {
          color: #666666;
        }
      }

      li + li {
        margin-top: 4px;
      }

      .project-stage {
        display: flex;
        flex-direction: column;
        align-items: center;

        + .project-stage {
          margin-top: 10px;
        }

        .project-stage-caption {
          color: #6b6b6b;
          font-size: 14px;
          font-weight: normal;
          width: 100%;
          text-transform: capitalize;
        }

        .project-stage-progress-bar {
          background-color: #fff;
          height: 18px;
          width: 100%;
          border-radius: 0;
          border: 1px solid #d8d8d8;
        }

        .project-stage-completed {
          color: #ffffff;
          background-color: #679bf9;
          height: 16px;
          width: 0;
          display: flex;
          align-items: center;
          font-size: 12px;
          font-weight: normal;
          line-height: 12px;
          padding-left: 6px;
          border-radius: 0;
        }
      }
    }

    .message_box {
      border: 1px solid #dddddd;
      padding: 10px;
      margin-left: 44px;
      margin-top: 5px;
    }

    .message-action-buttons i {
      cursor: pointer;
    }
  }
}

.mes_count {
  color: green;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid green;
  font-weight: normal;
  line-height: normal;
  position: relative;
  top: -5px;
  font-size: 14px;

  &.negative {
    color: #f00;
    border-color: #f00;
  }
}


.opinionsbtns {
  .opinion-btn {
    cursor: pointer;
    color: #a9a7a7;
    margin-right: 25px;

    &.dots {
      margin: 0;
    }
  }
}

.chat-action-bar {
  max-height: 100%;
}


@media only screen and (max-width: 992px) {
  .chat-messages {
    height: calc(100% - 140px) !important;
  }
}
