<ng-container>
  <ngb-accordion #acc="ngbAccordion"  [closeOthers]="true" activeIds="ngb-panel-0">    
      <ngb-panel id="toggle-1">
        <ng-template ngbPanelTitle>
          <span (click)="getDepartments()">Department  <i class="fa fa-angle-down" aria-hidden="true"></i></span>
          <!-- <button (click)="getDepartments()">Department</button> -->
        </ng-template>
        <ng-template ngbPanelContent>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let c of departments">
              <label  class="custom-control custom-checkbox">
                <input id="{{c.id}}" #checkboxID name="departments" type="checkbox" 
                value="{{c.id}}" class="custom-control-input"
                [checked]="c.checkedDeptItem" (change)="onDepartmentChecked(checkboxID.checked,checkboxID.value)">
                 <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{c.title}}</span>
              </label>
            </li>           
          </ul>
        </ng-template>
      </ngb-panel>

      <ngb-panel [disabled]="flagRoles"  id="toggle-2">
          <ng-template ngbPanelTitle>
            <span (click)="getRole()">Role  <i class="fa fa-angle-down" aria-hidden="true"></i></span>
          </ng-template>
          <ng-template ngbPanelContent>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let c of roles" >
                <label class="custom-control custom-checkbox">
                  <input id="{{c.id}}" #roleCheckbox name="roles" type="checkbox" 
                  value="{{c.id}}" class="custom-control-input"
                  [checked]="c.checkedRoleItem" (change)="onRoleChecked(roleCheckbox.checked,roleCheckbox.value)">
                   <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">{{c.title}}</span>
                </label>
              </li>           
            </ul>
          </ng-template>
        </ngb-panel>

        <ngb-panel [disabled]="flagExpertise"  id="toggle-3">
            <ng-template ngbPanelTitle>
              <span  (click)="getExperties()">Experties  <i class="fa fa-angle-down" aria-hidden="true"></i></span>
            </ng-template>
            <ng-template ngbPanelContent>
                  <ul class="list-group">
                    <li class="list-group-item"  *ngFor="let c of expertise">
                  <label class="custom-control custom-checkbox">
                    <input id="{{c.id}}" #expertiseCheckbox name="expertise" type="checkbox" 
                    value="{{c.id}}" class="custom-control-input"
                    [checked]="c.checkedExpertiseItem" (change)="onExpertiseChecked(expertiseCheckbox.checked,expertiseCheckbox.value)">
                     <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{c.title}}</span>
                  </label>
                </li>           
              </ul>
            </ng-template>
          </ngb-panel>

          <ngb-panel  id="toggle-4">
              <ng-template ngbPanelTitle>
                <span (click)="getAvailability()">Availability  <i class="fa fa-angle-down" aria-hidden="true"></i></span>
              </ng-template>
              <ng-template ngbPanelContent>
                <ul class="list-group">
                  <li class="list-group-item"  *ngFor="let c of availability">
                    <label class="custom-control custom-checkbox">
                      <input id="{{c.id}}" #availabilityCheckbox name="availability" type="checkbox" 
                      value="{{c.id}}" class="custom-control-input"
                      [checked]="c.checkedAvalItem" (change)="onAvailabilityChecked(availabilityCheckbox.checked,availabilityCheckbox.value)">
                       <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{c.title}}</span>
                    </label>
                  </li>           
                </ul>
              </ng-template>
            </ngb-panel>

            <ngb-panel  id="toggle-5">
                <ng-template ngbPanelTitle>
                  <span (click)="getexperience()">Experience  <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </ng-template>
                <ng-template ngbPanelContent>
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let c of experience">
                      <label  class="custom-control custom-checkbox">
                        <input id="{{c.id}}" #experienceCheckbox name="experience" type="checkbox" 
                        value="{{c.id}}" class="custom-control-input"
                        [checked]="c.checkedExperienceItem" (change)="onExperienceChecked(experienceCheckbox.checked,experienceCheckbox.value)">
                         <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{c.title}}</span>
                      </label>
                    </li>           
                  </ul>
                </ng-template>
              </ngb-panel>

              <ngb-panel  id="toggle-6">
                  <ng-template ngbPanelTitle>
                    <span (click)="getHourlyBudget()">Hourly Budget  <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                        <ul class="list-group">
                          <li class="list-group-item" *ngFor="let c of hourlyBudget">
                        <label  class="custom-control custom-checkbox">
                          <input id="{{c.id}}" #hourlyBudgetCheckbox name="hourlyBudget" type="checkbox" 
                          value="{{c.id}}" class="custom-control-input"
                          [checked]="c.checkedBudgetItem" (change)="onHourlyBudgetChecked(hourlyBudgetCheckbox.checked,hourlyBudgetCheckbox.value)">
                           <span class="custom-control-indicator"></span>
                          <span class="custom-control-description">{{c.title}}</span>
                        </label>
                      </li>           
                    </ul>
                  </ng-template>
                </ngb-panel>
    </ngb-accordion>
  </ng-container>