<!-- <div class="projects-search">
  <div class="search-icon"></div>
  <input class="form-control" type="text" placeholder="search here" [(ngModel)]="searchText" (input)="valueChange()" />
  <button (click)="searchBlockTxAddress()" class="saffron_btn orange_btn">Search</button>
</div>
<div *ngIf="errorMessage" class="errorwrap">{{errorMessage}}</div> -->
<div class=" table-responsive">
  <table class="table table-hover projects-table">
    <thead>
      <tr>
        <th>Ref. No #</th>
        <th>User Name</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Mode</th>
        <th>Created Date</th>
        <th>Time</th>
        <th>Remark</th>
        <th>External</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of financialTransactionsListInfo">
        <td>{{item._reference_no}}</td>
        <td>{{item.data.user_name}}</td>
        <td>{{item.data.amount}}</td>
        <td>{{item.data.status}}</td>
        <td>{{item.data.mode}}</td>
        <td *ngIf="item.data.create_datetime != 'None'; else date">{{item.data.create_datetime | date: 'd MMM yyyy'}}</td>
        <ng-template #date>
            <td>-</td>
        </ng-template>
        <td *ngIf="item.data.create_datetime != 'None'; else time">{{item.data.create_datetime | date: 'shortTime'}}</td>
        <ng-template #time>
            <td>-</td>
        </ng-template>
        <td>{{item.data.remark}}</td>
        <td>{{item.data.is_external}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <app-pagination class="my-pagination" [pageSize]="pageSize" [pagesQuantity]="count" (pageChanged)="getFinancialTransList($event)"></app-pagination> -->