<!-- <app-header class="position-static" [backNavOptions]="{caption: projectBudget.title, route: ['backer', 'my-projects', projectBudget.id]}"></app-header> -->
<app-header class="position-static"></app-header>
<main>
  <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" acceptButtonStyleClass="saffron_btn blue_btn"
    rejectButtonStyleClass="saffron_btn skyblue_btn" width="425"></p-confirmDialog>
  <div class="container saf_blue_theme">
    <div class="heading">
      <h1>Budget</h1>
    </div>
    <div *ngIf="!addingManually" class="cardwrap">
      <div class="card">
        <h2>My Expenses</h2>
        <div class="progress bg-voilet">
          <div class="progress-bar bg-danger" [style.width]="(project.my_expences_percent <= 100 ? project.my_expences_percent : 100) +'%'">
          </div>
        </div>
        <div class="valuewrap">
          <span class="value" [title]="project.expences"  [style.left]="(project.my_expences_percent <= 100 ? project.my_expences_percent : 100)+'%'">{{project.expences}}</span>
          <span class="totalvalue" [title]="project.receive_funds" >{{project.receive_funds}}</span>
        </div>
      </div>
      <div class="card">
        <h2>Material Cost</h2>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Product</th>
                <th width="80px">QTY</th>
                <th width="125px">Price / Unit</th>
                <th width="125px">Total</th>
                <!-- <th width="100px"></th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{product.qty}}</td>
                <td>${{product.price.amount}}</td>
                <td>
                  <span class="text-orange">{{product.total}}</span>
                </td>
                <!-- <td>
                  <div class="actionbtnwrap">
                    <button class="btn-circle text-orange" (click)="confirm(product)">
                      <i class="icon-delete_btn"></i>
                    </button>
                  </div>
                </td> -->
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <td>
                  <strong>Total</strong>
                </td>
                <td></td>
                <td></td>
                <td class="text-orange">${{projectBudget.subtotal}}</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <app-pagination class="my-pagination" [pageSize]="pageSize" [pagesQuantity]="count" (pageChanged)="getMatrialCost($event)"></app-pagination>
      </div>

    </div>
    <!-- <div class="projects-footer">
      <div class="back-button" (click)="_location.back()">Back</div>
    </div> -->
  </div>

</main>