<div class="hire_employees">


  <div class="projects-search">
      <div class="search-icon"></div>
      <input class="form-control" type="text" placeholder="Start typing to search" [(ngModel)]="searchText" (input)="valueChange()" />
  </div>

  <div class="table-responsive">
      <table class="table table-hover projects-table transaction-table">
          <thead>
              <tr>
                  <th>Transaction Ref No.</th>
                  <th>Added on</th>
                  <th>Time</th>
                  <th>Amount</th>
                  <th>Remark</th>
                  <th>Name</th>
                  <th>Wallet Type</th>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of transactionInfoList">
                  <td>{{item.reference_no}}</td>
                  <td>{{item.create_datetime | date:'d MMM yyyy'}}</td>
                  <td>{{item.create_datetime | date:'shortTime'}}</td>
                  <td>${{item.amount.amount}}</td>
                  <td>
                      {{item.remark}}
                  </td>
                  <td>{{item.next_user_name}} </td>
                  <td style="text-transform: capitalize;">{{item?.wallet}} </td>

              </tr>

          </tbody>
      </table>
  </div>



  <app-pagination class="my-pagination" [pageSize]="pageSize" [pagesQuantity]="count" (pageChanged)="getTransferSendList($event)"></app-pagination>

</div>