$side-padding: 12px;
$primary-color: #4342e6;
  header {
  height: 67px;
  background-color:$primary-color;
}
  
main {
 // padding: 10px 60px 60px 60px;
 padding: 0.625em 0 3.750em 0;
  background-color: #f9f5f0;
  min-height: calc(100% - 67px);
}
  
.recruitment-wrap {
  position: relative;
}
  
.cardwrap { background: #fff; padding: 30px 40px;}
  
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;  
  h1 {
    color: #2929e4;
    font-size: 2.250em;
    font-weight: 500;
    line-height: 1.194em;
    margin: 2px;
  }    
}

.form-group label {font-size: 24px; font-weight: 500; }
.form-group textarea.form-control { height: 200px;    padding: 0; resize: none; }
.circlebox  { width: 32px; height: 32px; color: #fff; border-radius: 360px;  display: inline-block; vertical-align: middle;text-align: center;
  padding: 5px;

&.bg-purple{
  background: #7c7bf4;
}
&.bg-skyblue{
  background: #00d8c9;
}
}
p.clicableitem { font-size: 18px; cursor: pointer; }
.clicableitem > u  { margin-left: 5px;text-decoration: none; border-bottom: 1px solid $primary-color;  }
.post-buttons{
  margin: 40px 0 10px;
}

@media only screen and (max-width: 992px) {
 
  .post-buttons .button { padding: 0 10px;}
  .recruitment-wrap { width: 100%; }

}
@media (max-width: 767px) {
  .cardwrap { padding: 20px 30px;}
}

@media only screen and (max-width: 480px) {
  .cardwrap { padding:15px 10px;}
 

}
  
  






