$login-box-width: 610px;
$error-color: #FE5F5B;
$text-secondary:#24d7c8;

.container-other-buttons {
  color: #cccccc;
  font-size: 18px;
  justify-content: space-between;
  max-width: $login-box-width;
  width: 100%;
  padding: 6px 24px;
}


.privacy-policy {
  color: #ccc;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  z-index: 2;
  span{
    text-decoration: underline;
    cursor: pointer;
  }
}

.fa-icon {color:$text-secondary; }

.pass-update-box {
  max-width: $login-box-width;
  padding: 24px 50px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: rgba(42, 7, 106, 0.41);
  p{
      color:#fff;
      width: 90%;
      margin: auto;
      a{
        color:#fff;
        text-decoration: underline;
      }
  }
  .close-btn{
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: url(/assets/img/Combined_Shape.png) no-repeat;
    background-size: cover;
    display: none;
  }

  .column {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }

  .container-title {
    color: #fff;
    font-size: 2.188em;
    text-align: center;
    margin-bottom: 0;
    span{
        color:$text-secondary;
    }
  }

  .btn-border {
    width: 132px;
    height: 39px;
    border: 2px solid #24d7c8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 50px  auto 0 auto;
    &:hover{
      border-width: 4px;
    }
    .enter-btn {
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      height: 31px;
      width: 124px;
      background-color: #24d7c8;
      cursor: pointer;
      border: none;
      bottom: 9px;
      right: 24px;
      
      
      &:disabled {
        background-color:lighten(#24d7c8,15%);
        cursor: not-allowed;
      }
    }

  }

  

}



@media (max-width: 992px) {
  .pass-update-box{
    max-width: 520px;
  }

  .container-other-buttons {
    padding-left: 0;
    padding-right: 0;
    max-width: 520px;
  }
}
@media (max-width: 767px) {
  .container-border{
    border: none;
  }
  .login-box{
    padding-bottom: 10px;
    top: 0;   
  }
  .privacy-policy {
    bottom: 0;
  }
}

@media (max-width: 499px) {
  .container-fluid {
    min-height: 100%;
    height: auto;
  }

  

  .container-border {
    position: static;
  }

  .pass-update-box {
    padding: 20px 10px 10px 10px;
    position: relative;

    .close-btn {
      width: 18px;
      height: 18px;
      top: -9px;
      right: -9px;
      display: block;
    }

    
  }
  .container-other-buttons{
    flex-direction: initial !important;
  }

  .container-title {
    color: #ffffff;
    // font-size: 21px;
  }

  .privacy-policy {
    bottom: 5px;
    width: auto;
  }

  .mobile-hidden {
    display: none;
  }
}

@media (max-width: 374px) {


  .container-border {
    position: static;
  }

  .container-other-buttons .link {
    padding: 2px;
    line-height: 1;
  }

  .privacy-policy {
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
  }
}


@media screen and (max-width:768px) and (orientation:landscape) {
  .close-btn{
    display: none;
  }



  .pass-update-box{
    overflow-y: scroll;
  }

  .privacy-policy{
    bottom: 0;
    left: 0;
  }
}
