<div class="container-fluid bg-gradient">
    <div *ngIf="!callback" class="container-main bg-image">
      <div class="container-border">
        <div class="pass-update-box container">
          <div class="close-btn hidden-sm-up" [routerLink]="['/']"></div>
          <div class="col-12 column text-center">            
            <span class="fa-stack fa-3x fa-icon">
              <i class="fa fa-check fa-stack-1x"></i>
              <i class="fa fa-circle-thin fa-stack-2x"></i>
            </span>
            <div class="container-title">Password Updated <span>Successfully</span></div>
            <p>You have successfully changed your password. Please <a [routerLink]="['/']">login</a> using your new password</p>
            <div class="btn-border" >
              <!-- *ngIf="showLoginButton" -->
              <button type="submit" class="enter-btn"  [routerLink]="['/']">OK</button>
            </div>
          </div>
        </div>
        <div class="container-other-buttons row">
          <div class="link text-left col-4 mobile-hidden" [routerLink]="['/']"><i class="fa fa-arrow-left"></i> Back</div>
        </div>
      </div>
      <div class="privacy-policy singin">By tapping "Join" you are agreeing to the <span class="c-white" (click)="openTermsOfUseModal()">Terms of use</span> and <span class="c-white text_underline" (click)="openPrivacyPolicyModal()">Privacy policy</span></div>
    </div> 
  </div>
  