main {
  // padding: 10px 60px 60px 60px;
  padding: 0.625em 0 3.750em 0;
  background-color: #f9f5f0;
  min-height: calc(100% - 67px);
}

.saf_blue_theme {
  color: #2928e5;
}

.projects-search {
  border-bottom: 1px solid #e2e2e1;
  margin-bottom: 5px;
  padding: 0;
}

.saf_blue_theme .boxtable td {
  min-width: 105px;
  padding: 0.600em;
}

.processesworked h3 {
  font-size: 1.75em;
  margin-top: 15px;
}

.saf_blue_theme .boxtable td.text-organge {
  color: #ff605c;
}

.worktable {
  background-color: white;
}
