
<ngb-tabset>
    <ngb-tab>
       <ng-template ngbTabTitle>My Shares - X</ng-template>
       <ng-template ngbTabContent>
        <app-my-share-x></app-my-share-x>         
       </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>My Holdings - LSX</ng-template>
      <ng-template ngbTabContent>
        <app-my-holdings-lsx></app-my-holdings-lsx>
      </ng-template>
    </ngb-tab> 
    <ngb-tab>
        <ng-template ngbTabTitle>My Holdings - ISX</ng-template>
        <ng-template ngbTabContent>
          <app-my-holdings-isx></app-my-holdings-isx>
        </ng-template>
      </ngb-tab> 
</ngb-tabset>
