.bubbles {
  flex-grow: 1;

  display: flex;
  flex-flow: row wrap;

  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.activated {
  opacity: 1;
}

.deactivated {
  opacity: 0.7;
  pointer-events: none;
}


.bubble {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin: 10px;
  width: 85px;

  .caption {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: normal;
  }

  &.selector {
    cursor: pointer;
  }
}

.button-border {
  height: 66px;
  width: 66px;
  border-radius: 33px;
  background: transparent;
  border: 2px solid transparent;

  padding: 1px;

  &.active {
    border-color: #fc585c;
  }
}

.button-icon {
  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.bg-incomplete {
  background-color: #fc585c;
}

.bg-blue {
  background-color: #5585f7;
}

.btn-finances-bg {
  background-image: url('/assets/img/founder/finances.png');
}

.btn-operation-bg {
  background-image: url('/assets/img/founder/operation.png');
}

.btn-sales-bg {
  background-image: url('/assets/img/founder/sales.png');
}

.btn-marketing-bg {
  background-image: url('/assets/img/founder/marketing.png');
}

.bg-next {
  background-image: url('/assets/img/startup/next.svg');
}

.done{
  .button-icon {
    background-image: url('/assets/img/startup/checkmark.svg');
  }

  .button-border.active {
  }
}

@media only screen and (max-width: 767px) {
  .bubbles {
    width: 100%;
  //  padding-top: 15px;
  }

  .bubble {
    margin: 5px 3px;
    width: 54px;

    .caption {
      font-size: 12px;
      line-height: 15px;
      font-weight: normal;
    }
  }

  .button-border {
    width: 46px;
    height: 46px;
    margin-bottom: 1px;
  }

  .button-icon {
    width: 40px;
    height: 40px;
  }

  .disabled-mobile {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .bubble {
    margin: 1px;

    .caption {
      font-size: 11px;
    }
  }
}
