<!-- <div class="projects-search">
  <div class="search-icon"></div>
  <input class="form-control" type="text" placeholder="search here" [(ngModel)]="searchText" (input)="valueChange()" />
  <button (click)="searchBlockTxAddress()" class="saffron_btn orange_btn">Search</button>
</div>
<div *ngIf="errorMessage" class="errorwrap">{{errorMessage}}</div> -->
<div class=" table-responsive">
  <table class="table table-hover projects-table">
    <thead>
      <tr>
        <th>Reg. No #</th>
        <th>User Name</th>
        <th>Notary Name</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of projectNotrizeInfoList">
        <td>{{item._notary_registration}}</td>
        <td>{{item._username}}</td>
        <td>{{item.data.notary_name}}</td>
        <td>{{item.data.status}}</td>
        <td>{{item.data.start | date: 'MMMM dd, yyyy'}}</td>
        <td>{{item.data.end | date: 'MMMM dd, yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <app-pagination class="my-pagination" [pageSize]="pageSize" [pagesQuantity]="count" (pageChanged)="getProjectNotarizeList($event)"></app-pagination> -->