.scrol-activity-log {
    overflow-y: scroll;
    height: 100%;
    display: block;
    width: 100%;
}
.card-title {
.icon-mark {    position: absolute;
    right: 80px;
    background: #00d8c9;
    top: 20px;
    color: #fff;
    padding: 4px;
    border-radius: 50%;
    font-size: 20px;}


    .icon-close  {    position: absolute;
        right: 80px;
        background: #00d8c9;
        top: 20px;
        color: #fff;
        padding: 4px;
        border-radius: 50%;
        font-size: 20px;}
    }