.resumelink {   margin-bottom: 15px;
    display: inline-block;
    cursor: pointer;}
.file_wrap { display: inline-block; vertical-align: middle;
    width: 1.846em;
    height: 1.846em;
text-align: center;
background: #6A9DF6;
    border-radius: 360px;-moz-border-radius: 360px;-webkit-border-radius: 360px;-ms-border-radius: 360px;
    margin: 0 auto 0.231em;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
    color: #fff;
    font-size:1.625em;// 26px;
    padding: 0.192em;
   
   
}
.filetext {
    font-size: 1.500em;
    text-decoration: underline;
    vertical-align: middle;    display: inline-block;
    margin-left: 0.333em;
  
}